block content
  .wrapper(ng-controller="HomeController as home")
    h1(ng-bind="home.title")

    nav
      div(ng-repeat="link in home.links")
        a(ng-href="{{link.url}}") {{link.text}}

    form.searchImdb(ng-submit="home.callImdbApi()")
      fieldset
        label Search on Imdb
          input(type="text", placeholder="type name film", ng-model="home.imdbText")
          input(type="text", placeholder="type of imdb", ng-model="home.imdbType")
        input(type="submit", value="Search")
    		
    div(ng-show="home.contentReady") Loading ...
    .latestItem(ng-show="home.imdbData.title !== undefined")
      imdb-card(data="home.imdbData", call-action="home.saveToDb()" text-btn="Save")
    
