.imdb-card
	h2
		a(ng-if="data._id", ng-href="{{data.itemurl}}") {{data.title}} - {{data.rating}}
		a(ng-if="!data._id", ng-href="{{data.imdburl}}") {{data.title}} - {{data.rating}}
	h3(ng-if="data.myRating") My rating: {{data.myRating}}
	img(ng-src="{{data.poster}}", alt="poster {{data.title}}")
	p {{data.description}}
	a(ng-if="data._id", ng-href="{{data.imdburl}}") Visit imdb page for {{data.title}}
	ul
		li(ng-repeat="gen in data.genre") {{gen}}
	button(ng-click="callAction()") {{textBtn}}