block content
	.wrapper(ng-controller="ImdbController as imdb")
		div(ng-show="!imdb.contentReady") Loading ...
		div(ng-show="imdb.contentReady")
			h1 {{imdb.title}}
			imdb-card(ng-repeat="imdbItem in imdb.collection", data="imdbItem", call-action="imdb.deleteItem( $index )" text-btn="Delete")