<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", type="text/css", href="static/styles.css")
  title Awesome Imdb 
body(ng-app="imdbApp")
  .wrapper(ng-controller="HomeController as home")
    h1 #{title}
    h3 {{home.test}}
  script(type="application/javascript", src="static/bundle.js")
  
