block content
	.wrapper(ng-controller="ImdbController as imdb")
		div(ng-show="!imdb.contentReady") Loading ...
		div(ng-show="imdb.contentReady")
			imdb-card(data="imdb.singleItem", call-action="imdb.saveToDb()" text-btn="Edit")