<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	link(rel="stylesheet", type="text/css", href="static/styles.css")
	link(rel="stylesheet", type="text/css", href="static/notification.css")
	title imdbMovies
body(ng-controller="MovieController as movie")
	h1 Movies
	
	script(type="application/javascript", src="static/bundle.js")
